<header class="nav-wrapper reveal fade">
  <div class="nav-bar">
    <a
      class="brand"
      href="/"
      data-track="nav_click"
      data-track-props='{"item":"brand"}'
    >
      <span class="brand-badge">W</span>
      <span>
        Ctxfy
        <span class="brand-sub">Communicate. Collaborate. Create.</span>
      </span>
    </a>
    <nav class="nav-links" aria-label="Primary">
      <a href="#home" data-track="nav_click" data-track-props='{"item":"home"}'>
        Home
      </a>
      <a
        href="#product"
        data-track="nav_click"
        data-track-props='{"item":"product"}'
      >
        Product
      </a>
      <a
        href="#pricing"
        data-track="nav_click"
        data-track-props='{"item":"pricing"}'
      >
        Pricing Plans
      </a>
      <a
        href="#contact"
        data-track="nav_click"
        data-track-props='{"item":"contact"}'
      >
        Contact
      </a>
      <a
        class="nav-cta"
        href="#get-started"
        data-track="nav_click"
        data-track-props='{"item":"get_started"}'
      >
        Get Started
      </a>
    </nav>
  </div>
</header>
