---
export const prerender = true;
import LandingLayout from "@layout/LandingLayout.astro";
import LandingHero from "@sections/LandingHero.astro";
import LandingOffers from "@sections/LandingOffers.astro";
import LandingSplit from "@sections/LandingSplit.astro";
import LandingTrusted from "@sections/LandingTrusted.astro";
import LandingTestimonials from "@sections/LandingTestimonials.astro";
import LandingPricing from "@sections/LandingPricing.astro";
import LandingCTA from "@sections/LandingCTA.astro";
---

<LandingLayout>
  <main id="home">
    <LandingHero />
    <LandingOffers />
    <LandingSplit />
    <LandingTrusted />
    <LandingTestimonials />
    <LandingPricing />
    <LandingCTA />
  </main>
</LandingLayout>
