---
export const prerender = true;
import LandingLayout from "@layout/LandingLayout.astro";
import LandingNav from "@sections/LandingNav.astro";
import LandingHero from "@sections/LandingHero.astro";
import LandingOffers from "@sections/LandingOffers.astro";
import LandingSplit from "@sections/LandingSplit.astro";
import LandingTrusted from "@sections/LandingTrusted.astro";
import LandingTestimonials from "@sections/LandingTestimonials.astro";
import LandingPricing from "@sections/LandingPricing.astro";
import LandingCTA from "@sections/LandingCTA.astro";
import LandingFooter from "@sections/LandingFooter.astro";
---

<LandingLayout>
  <div class="landing">
    <LandingNav />

    <main id="home">
      <LandingHero />
      <LandingOffers />
      <LandingSplit />
      <LandingTrusted />
      <LandingTestimonials />
      <LandingPricing />
      <LandingCTA />
      <LandingFooter />
    </main>
  </div>
</LandingLayout>
